@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;



.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    @include desktopXL {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

.content {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;

    &:hover .content__info {
        display: flex;
    }

    &:hover .content__image {
        opacity: 0.3;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        display: none;
        position: absolute;

        &--text {
            display: flex;
            flex-direction: column;
            z-index: 1;
        }
    }
}

.site__title {
    display: none;
    position: absolute;
    left: 0;
    z-index: -1;

    @include desktopXL {
      display: block;
  } 

    &--text {
      font-family: Industria LT Std, sans-serif;
      font-weight: 500;
      font-size: 20vw;
      text-transform: uppercase;
      opacity: 0.5;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
}

.image__hero {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: grey;
  margin-bottom: 5em;
}