@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

$gridLarge: calc(26vw - 20px);
$gridMedium: calc(40vw - 15px);

.container {

    &__columns {
        margin-bottom: 0em;
        display: flex;
        flex-flow: row wrap;

        @include mobile {
            justify-content: center;
        }
    }
}   

.content {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 5em;
    width: auto;

    @include tablet {
        margin-right: 30px;

        &:nth-child(2n) {
            margin-right: 0px;
        }
    }

    @include desktop {
        margin-right: 30px;

        &:nth-child(3n) {
            margin-right: 0px;
        }
    }

    @include desktopXL {
        margin-right: 30px;

        &:nth-child(3n) {
            margin-right: 0px;
        }
    }

    &__info {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-bottom: 0.5em;
        width: 80vw;

        @include tablet {
            max-width: 1000px;
            min-width: 200px;
            width: $gridMedium;
        }
    
        @include desktop {
            max-width: 1000px;
            min-width: 200px;
            width: $gridLarge;
        }
    
        @include desktopXL {
            max-width: 1000px;
            min-width: 200px;
            width: $gridLarge;
        }
    }

    .title {
        color: $white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .intro {
        width: 100%;
    }

    .text {
        width: 90%;
    }

    .mail {
        margin-top: 30px;
    }
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    width: 80vw;
    height: 80vw;

    @include tablet {
        max-width: 1000px;
        min-width: 200px;
        width: $gridMedium;
        height: $gridMedium;
    }

    @include desktop {
        max-width: 1000px;
        min-width: 200px;
        width: $gridLarge;
        height: $gridLarge;
    }

    @include desktopXL {
        max-width: 1000px;
        min-width: 200px;
        width: $gridLarge;
        height: $gridLarge;
    }
}