@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;

nav {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 15px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .item {
        display: flex;  
        height: 100px;
        width: auto;
        justify-content: center;
        align-items: center;
        color: $black;

        &:hover {
            transition: 0.2s;
        }
    }
}

p {
    padding-left: 30px;
}

nav li a {
  display: block;
  text-decoration: none;
}

nav li {
    a.nuxt-link-exact-active  {
        color: $red;
    }
}