@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

footer {
  margin-top: $marginLarge;
  bottom: 0;

  @include tablet {
        margin-top: $marginXLarge;
    }

    @include desktop {
        margin-top: $marginXLarge;
    }

    @include desktopXL {
        margin-top: $marginXLarge;
    }
}

a {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $white;
  font-size: 14px;
  line-height: 20px;
}

.container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  height: auto;
  color: $white;
  background-color: $black;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;

    @include tablet {
        flex-wrap: wrap;
    }

    @include desktop {
        flex-flow: row wrap;
    }

    @include desktopXL {
        flex-flow: row wrap;
    }
}

.contact {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $contentpadding;
  border-top: thin solid $white;

    @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 100%;
    }

    @include desktopXL {
        width: 100%;
    }

  .text__small {
    display: flex;
    margin-right: 0.5em;

    &:first-child {
      margin-right: 0px;
    }

    ::v-deep { 
      p:after {
        content: '\00a0';
      }
    }
  }
}