//Transition/content styling is applied in the collection components
//Reason: Individual needs for different content types

@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.accordion {
    width: 35%;
    border: thin solid $white;
    margin-top: 5px;
    cursor: pointer;
    // padding-top: $contentpadding;
    // padding-bottom: $contentpadding;

        &__title {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: auto;
            padding-top: $contentpadding;
            padding-bottom: $contentpadding;
            padding-right: 10px;
            padding-left: 10px;
            cursor: pointer;
            text-transform: uppercase;

            .right {
              height: 23px;
              width: 10px;
              margin-right: 5px;
              z-index: -1;
            }

            .plus {
              transform: rotate(90deg);
              transition-duration: 200ms;
              transform-origin: 65% 40%;
              color: $white;
              z-index: -1;
        }
    }

.rotate {
    transform: rotate(0deg);
    transition-duration: 300ms;
}

    &__body {
        overflow: hidden;
        border-top: 0;
    }
}
