//Transition/content styling is applied in the collection components
//Reason: Individual needs for different content types

@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.accordion {
    width: 100%;
    border-bottom: thin solid $white;
    border-top: thin solid $white;
    margin-top: -1px;
    cursor: pointer;

        &__title {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: auto;
            padding-top: $contentpadding;
            padding-bottom: $contentpadding;
            cursor: pointer;
            // text-transform: uppercase;

            @include tablet {
                align-items: center;
                justify-content: space-between;
            }
    
            @include desktop {
                align-items: center;
                justify-content: space-between;
            }
    
            @include desktopXL {
                align-items: center;
                justify-content: space-between;
            }

            .text {
                font-family: Arial Narrow;
                font-weight: 400;
                font-style: normal;
                font-size: 24px;
                text-decoration: none;
                color: $white;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }        

            .right {
              height: 23px;
              width: 10px;
              margin-right: 3em;
              z-index: -1;
            }

            .plus {
              transform: rotate(90deg);
              transition-duration: 200ms;
              transform-origin: 65% 40%;
              color: $white;
              z-index: -1;
        }
            .text {
                padding-left: 20px;
                letter-spacing: 0.75px;

                @include tablet {
                    padding-left: 30px;
                }
        
                @include desktop {
                    padding-left: 3em;
                }
        
                @include desktopXL {
                    padding-left: 3em;
                }
            }    
    }

.rotate {
    transform: rotate(0deg);
    transition-duration: 300ms;
}

    &__body {
        overflow: hidden;
        border-top: 0;
    }
}
