@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.cookie-consent {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: $black;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25em;

    @include tablet {
        height: 45px;
        padding: 0.5em;
    }

    @include desktop {
        height: 45px;
        padding: 0.5em;
    }

    @include desktopXL {
        height: 45px;
        padding: 0.5em;
    }

    p {
        color: white;
        text-align: center;
        margin-right: 1em;
        font-size: 12px;

        @include tablet {
            font-size: 14px;
        }

        @include desktop {
            font-size: 14px;
        }

        @include desktopXL {
            font-size: 14px;
        }
    }

    .accept__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        background-color: $black;
        border: thin solid $white;
        color: $white;
        border-radius: 200px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        cursor: pointer;
        animation: pulse 1s ease-in infinite;

        &:hover {
            background-color: $black;
            border: thin solid $red;

            .accept__text {
                color: $red;
            }
        }
    }

    .accept__text {
        margin-right: 0em;
    }

    .btn-link p {
        color: $white;
        text-decoration: underline;

        &:hover {
            font-style: italic;
            color: $red;
        }
    }
}

@keyframes pulse {
    0%, 100% {
        transform: translate(0, 2px)
    }
    50% {
        transform: translate(0, 0)
    }
}