/*
Global definitions for overreaching elements
*/

@use "breakpoints" as *;
@use "colors" as *;

$contentpadding: 0.75em;
$contentpaddingLarge: 18vw;

$margin: 5em;
$marginLarge: 7.5em;
$marginXLarge: 15em;
$marginXXLarge: 20em;

$marginHeader: 7em;
$marginHeaderMedium: 5em;
$marginHeaderLarge: 5em;
$marginHeaderXLarge: 5em;

$logosize: 100px;

body {
    background-color: $black;
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.wrapper {
   margin-bottom: 10em;
   padding-left: $contentpadding;
   padding-right: $contentpadding;

    @include tablet {
        padding-left: $contentpadding;
        padding-right: $contentpadding;
    }

    @include desktop {
        padding-left: $contentpaddingLarge;
        padding-right: $contentpaddingLarge;
    }

    @include desktopXL {
        padding-left: $contentpaddingLarge;
        padding-right: $contentpaddingLarge;
    }
}

.intro {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
}