/*
Global definitions for overreaching elements
*/

@use "breakpoints" as *;
@use "colors" as *;

$contentpadding: 0.75em;
$contentpaddingLarge: 18vw;

$margin: 5em;
$marginLarge: 7.5em;
$marginXLarge: 15em;
$marginXXLarge: 20em;

$marginHeader: 7em;
$marginHeaderMedium: 5em;
$marginHeaderLarge: 5em;
$marginHeaderXLarge: 5em;

$logosize: 100px;

body {
    background-color: $black;
    height: 100%;
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;

    @include tablet {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    @include desktop {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    @include desktopXL {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    &__ref {
        display: flex;
    }
}

.site__title {
    display: none;
    left: 0;
    z-index: -1;
    width: 16vw;
  
    @include desktop {
        display: block;
    } 
  
    @include desktopXL {
      display: block;
  } 
  
    &--text {
      font-family: Industria LT Std, sans-serif;
      font-weight: 500;
      font-size: 20vw;
      text-transform: uppercase;
      opacity: 0.5;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
  }