/*
Global definitions of typography
*/

@use "breakpoints" as *;
@use "colors" as *;

h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: $white;

  @include tablet {
        font-size: 40px;
  }

  @include desktop {
        font-size: 55px;
  }

  @include desktopXL {
        font-size: 55px;
  }
}

h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: $white;

    @include tablet {
        font-size: 45px;
        line-height: 65px;
    }

    @include desktop {
        font-size: 98px;
        line-height: 100px;
    }
    
    @include desktopXL {
        font-size: 98px;
        line-height: 100px;
    } 
}

h3 {
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: $white;
    letter-spacing: 0.6px;

    @include tablet {
        font-size: 30px;
    }

    @include desktop {
            font-size: 30px;
    }

    @include desktopXL {
            font-size: 30px;
    }
}

a > h3 {
    &:hover {
        color: $red;
    }
}

div > p {
    color: $white;
    letter-spacing: 0.2px;
}

p {
    font-family: sans-serif;
    font-style: normal;
    line-height: 26px;
}

.text {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: $white;

    &__big {
        font-weight: 500;
        color: $white;

        @include tablet {
            font-size: 20px;
            line-height: 26px;
        }

        @include desktop {
            font-size: 24px;
            line-height: 31px;
        }

        @include desktopXL {
            font-size: 30px;
            line-height: 38px;
        }   

        &--black {
            color: $black;
        }

        &--white {
            color: $white;
        }

        &--narrow {
            line-height: 30px;
        }
    }

    &__big > p {
        font-weight: 500;

        @include tablet {
            font-size: 20px;
            line-height: 26px;
        }

        @include desktop {
            font-size: 24px;
            line-height: 31px;
        }

        @include desktopXL {
            font-size: 30px;
            line-height: 38px;
        }
    }     

    &__medium {
        font-size: 18px;
        line-height: 20px;
    }

    &__small {
        font-size: 14px;
        line-height: 20px;
    }

    &__footer {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
    }

    &__menu {
        font-family: Industria LT Std, sans-serif;
        font-weight: 500;
        font-size: 18vw;
        line-height: normal;
        text-transform: uppercase;

        @include tablet {
            font-size: 18vw;
        }

        @include desktop {
            font-size: 14vw;
        }

        @include desktopXL {
            font-size: 12vw;
        }
    }

    &__home {
        width: 100%;
        text-align: center;
        margin-top: 2em;
    }

    a:hover {
        color: $red;
    }
}

span {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: $white;
}

a {
    color: $white;
    text-decoration: underline;

    &:hover {
        color: $red;
    }
}