/*
Z-Index of items
Helps us keep in view who is in front and how far
*/

.logo__link {
    z-index: 999;
}

.cookie-consent {
    z-index: 999;
}

nav {
    z-index: 998;
}

.header__wrapper {
    z-index: 999;
}